body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#main {
  height:100vh;
  width: 100vw;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-board {
  width: 810px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.spymaster .word-item.checked {
  border-color: green;
  box-shadow: 0 0 4px green;
  opacity: 0.5;
}

.word-item {
  width: 144px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #f5f5dc;
  cursor: pointer;
  border: 3px solid transparent;
  box-shadow: 0 0 1px black;
  border-radius: 8px;
  margin: 10px;
  margin-left: 0;
  margin-top: 0;
  position: relative;
}

.row-item:first-child .word-item {
  margin-top: 10px;
}

.word-item:first-child {
  margin-left: 10px;
}

.word-item:hover {
  background-color: #dcdcc6;
  box-shadow: 0 0 2px black;
}

.spymaster .word-item:hover {
  background-color: lightgreen;
}

.spymaster .word-item.checked:hover {
  background-color: #f5f5dc;
}

.row-item {
  display: flex;
}

.key-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.key-input-label {
  font-size: 14px;
}

#key-input {
  margin-left: 10px;
  font-size: 14px;
  width: 180px;
  outline: none;
  height: 30px;
  border: 0;
  border-bottom: 1px solid gray;
  padding: 0;
}

#key-input:focus {
  border-bottom: 2px solid #4C79A6;
  margin-bottom: -1px;
}

.key-submit.button {
  margin-left: 10px;
  background-color: rgba(0,122,255,0.8);
  color: white;
}

.key-submit:hover {
  box-shadow: 0 0 2px black;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 6px 12px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.button:hover {
  box-shadow: 0 0 2px black;
}

.buttons-container .button {
  margin-left: 10px;
}

.buttons-container .button:first-child {
  margin-left: 0;
}

.reset-button {
  margin-left: 10px;
}

.spymaster-toggle div {
  margin-left: 8px;
}

.team1.revealed,
.team1.score,
.spymaster .team1 {
  background-color: #4C79A6;
}

.team2.revealed,
.team2.score,
.spymaster .team2 {
  background-color: #FF4C4C;
}

.assassin.revealed,
.spymaster .assassin {
  background-color: black;
  color: white;
}

.neutral.revealed,
.spymaster .neutral {
  background-color: lightgray;
}

.scoreboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.score {
  width: 120px;
  height: 60px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.score:first-child {
  margin-left: 0;
}

.score-label {
  font-size: 12px;
  margin-bottom: 4px;
}

.unselectable {
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}
